/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 Normalize
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}h2{font-size:1.5em;margin:0.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:0.83em;margin:1.67em 0}h6{font-size:0.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}address{font-style:normal}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:0}dd{margin:0}menu,ol,ul{padding:0}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic;max-width:100%;vertical-align:middle;width:auto;height:auto}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

	html {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		height: 100%;
		width: 100%;
 	}
 	body {
 		margin: 0; padding: 0;
 		position: relative;
 		background-size: cover !important;
 	}

*, *:before, *:after {
    box-sizing: border-box;
}

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 Stages
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

    body {
/*        cursor: none;
*/    }
    canvas{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        cursor: none;
    }
    
    .logo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

 	.stage-one,
    .stage-two,
    .title-page,
    .branding, .texture {
 		width: 100%;
 		height: 100%;
 		position: fixed;
 		top: 0;
 		left: 0;
 		padding: 0;
 		margin: 0;
 		z-index: -1;
 		display: none;
 		opacity: 1;
  	}

    .texture { display: block; background: url(../../overlays/dot_overlay.gif) center center repeat; }
		/* OVERLAYS & TEXT */

		#text-fx {
			background: none;
			color: transparent;
			border: none;
		}
		#text-fx:focus {
			outline: none;
		}

    .text h1 { text-align: center; padding: 0 5%; }
    .scene { display: flex; align-items: center; justify-content: center; min-height: 100%; }
    #text-submit { display: none; }
 	.stage-one.on, .stage-two.on { display: block; }
 	.stage-two.blend { mix-blend-mode: screen; }
 	.stage-one.off, .stage-two.off { display: none !important; }

    .title-page {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }


	.branding.on {
        display: block;
        background-size: cover;
        background-position: center center;
	}

    .overlays {
        /* background-size: 80vw !important;
        background-size: 80vh !important; */
        background-repeat: no-repeat !important;
        background-position: center center !important;
        display: block;
        z-index: 9999;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }


.color-palette {
    display: block;
    height: 100vh;
    width: 100vw;
    content: "";
    opacity: inherit;
}

		.same-same {
			animation-timing-function: linear;
				/* animation-iteration-count: infinite; */
			animation: backgroundSizer 2s infinite;
			background-position: center center;
			background-repeat: repeat !important;
		}

        .ov-anim {
            animation-timing-function: linear;
            animation-iteration-count: infinite; 
/*            animation: overlaySpin 2s infinite;
*/        }


    @keyframes overlayScale {
        0% { transform: scale(.5); opacity: 1; }
        100% { transform: scale(2); opacity: 0; }
    }

    @keyframes overlayPulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.25); }
        100% { transform: scale(1); }
    }

    @keyframes overlaySkew {
        0% {  transform: skew(0deg, 0deg); }
        25% {  transform: skew(8deg, 5deg); }
        50% {  transform: skew(0deg, 0deg); }
        75% {  transform: skew(-8deg, -5deg); }
        0% {  transform: skew(0deg, 0deg); }
    }

    @keyframes overlayRotate {
        0% { transform: rotateY(0deg); }
        25% { transform: rotateY(20deg); }
        50% { transform: rotateY(0deg); }
        75% {  transform: rotateY(-20deg); }
        0% { transform: rotateY(0deg); }
    }

	@keyframes backgroundSizer {
        0% { background-size: 10%; }
		50% { background-size: 80%; }
        100% { background-size: 10%; }
    }

    @keyframes overlaySpin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


.video-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stage-types {
    width: 100%;
    height: 100%;
    position: relative;
}



/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 Effects
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

/* Kaleidoscope */

.kaleidoscope { display: block; z-index: 0; display: none;}
.tl, .tr, .bl, .br {
    display: block;
    background-size: cover;
    width: 50%;
    height: 50%;
    position: fixed;
}
.tl { left: 0; }
.tr {
    right: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.bl { left: 0; bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.br { right: 0; bottom: 0;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.kaleidoscope.horizontal >
.tr, .kaleidoscope.horizontal > .br {
    display: none;
}

.kaleidoscope.horizontal > .tl,
.kaleidoscope.horizontal > .bl {
    width: 100%;
}

.kaleidoscope.vertical >
.tr, .kaleidoscope.vertical > .br {
    width: 100%;
}

.kaleidoscope.vertical > .tl,
.kaleidoscope.vertical > .bl {
    display: none;
}